
header{
  border-radius: 20%;
  border-style: solid;
  border-color: black;
  width: 100;
  background-color: rgb(228, 171, 56);
}

.posicion{
    position: absolute;
    left: 17%;
    top: 30%;
}

.posicion2{
  position: absolute;
  left: 17%;
  top: 80%;
  font-size: 25px;
  border-style: solid;
  border-color: black;
  background-color: rgb(228, 171, 56);

}

.posicion3{
  position: absolute;
  left: 40%;
  top: 90%;
  font-size: 25px;
  border-style: solid;
  border-color: black;
  background-color: rgb(228, 171, 56);
}

h1{
    position: absolute;
    top: -5px;
    left: 36%;
    width: 100;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    float: absolute;
}

nav ul {
    list-style: none;
    overflow: hidden; 
  }

  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
  }

  nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    border-color: rgb(17, 21, 20);
    border-style: solid;
  }

  nav ul li:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
  }
.boton1{
    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}
.boton2{
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}
.boton3{
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}